.btn {
  cursor: pointer;
  padding: 0.7rem 1.3rem;
  border: none;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-size: 1.1em;
  font-weight: var(--fw-semi-bold);
}

.btn-primary {
  color: var(--clr-light);
  background-color: var(--clr-primary);
}

.btn-primary:hover,
.btn-primary:focus {
  color: var(--clr-primary);
  background-color: var(--clr-neutral);
}

.btn-secondary {
  color: var(--clr-primary);
  background-color: rgba(0, 0, 0, 0.06);
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--clr-light);
  background-color: var(--clr-primary);
}

