*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover,
*:focus {
  outline: none;
}

:root {
  --clr-primary: #0094ff;
  --clr-neutral: #e0e0e0;
  --clr-light: #ffffff;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}


form {
    display: flex;
    flex-direction: column;
}
.chng-password__old,
.chng-password__new,
.chng-password__confirm {
  margin: 0.8em 0;
}

.old-password,
.new-password,
.confirm-password {
  background-color: var(--clr-neutral);
  padding: 1em;
  margin-top: 0.5em;
  border: none;
  width: 100%;
  border-radius: 5px;
}

.password__button {
  margin-top: 1em;
  float: right;
}
