*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover,
*:focus {
  outline: none;
}

:root {
  --clr-primary: #ff6b00;
  --clr-neutral: #525252;
  --clr-light: #ffffff;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}

* {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 1.5em;
  color: var(--clr-primary);
  font-weight: var(--fw-semi-bold);
}

body {
  font-family: "Nunito";
  background-color: #242424;
}

.container {
  max-width: 98%;
  margin: 0 auto;
  padding-top: 1rem;
}

.btn {
  margin-bottom: 0.2em;
  position: relative;
  float: right;
}

.chats {
  display: block;
  clear: both;
  margin-top: 50px;
}

.chat {
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  color: #000;
  font-weight: var(--fw-regular);
  font-size: small;
  margin: 5px;
  position: relative;
}
.chat.u1 {
  float: left;
  clear: both;
  background: rgb(107, 107, 107);
  border-top-left-radius: 0px;
  color: white;
}
.chat.u1:before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid rgb(107, 107, 107);
  border-top: 5px solid rgb(107, 107, 107);
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 0px;
  left: -9px;
}

.chat.u2 {
  float: right;
  clear: both;
  border-top-right-radius: 0px;
  background: rgb(228, 134, 68);
  color: white;
}

.chat.u2:before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: 5px solid rgb(228, 134, 68);
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(228, 134, 68);
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 0px;
  right: -10px;
}

.chat:last-of-type {
  margin-bottom: 3rem;
}

.chat-area {
  display: flex;
  align-items: center;
}
.separator {
  clear: both;
}

input {
  background-color: var(--clr-neutral);
  height: 5vh;
  width: 98.9vw;
  padding: 2em 1.5em;
  border: none;
  color: rgba(255, 255, 255, 0.8);
}

input::placeholder {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.sticky {
  position: fixed;
  z-index: 1;
}

.sticky--header {
  top: 0;
  right: 10px;
}

.sticky--footer {
  bottom: 0;
}
