*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover,
*:focus {
  outline: none;
}

:root {
  --clr-primary: #0094ff;
  --clr-neutral: #e0e0e0;
  --clr-light: #ffffff;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}

* {
  font-family: "Nunito", sans-serif;
}

delete-account__content {
    display: flex;
}

.btn-danger {
  margin-top: 1em;
  float: right;
}
