.container {
  max-width: 96%;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--clr-neutral);
}

.user-name {
  margin-top: 0.55rem;
}

.conversation-tab {
  background-color: var(--clr-neutral);
}

.conversation {
  max-width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.divider {
  content: "";
  border-bottom: 3px solid var(--clr-primary);
}

.divider2 {
  content: "";
  border-bottom: 2px solid var(--clr-primary);
}
