*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover,
*:focus {
  outline: none;
}

:root {
  --clr-primary: #0094ff;
  --clr-neutral: #f2f2f2;
  --clr-light: #ffffff;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}

* {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 1.5em;
  color: var(--clr-primary);
  font-weight: var(--fw-semi-bold);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 96%;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral);
}

.conversation {
  background-color: var(--clr-neutral);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.divider {
  content: "";
  border-bottom: 2px solid var(--clr-primary);
}
