*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover,
*:focus {
  outline: none;
}

:root {
  --clr-primary: #0094ff;
  --clr-neutral: #f2f2f2;
  --clr-light: #ffffff;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}
.questn-ans__question {
  margin: 1em 0;
}

.question__select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1em;
  width: 100%;
  border: none;
  background-color: var(--clr-neutral);
  font-family: "Nunito", sans-serif;
  margin-top: 0.5em;
  border-radius: 5px;
}

.arrow {
  position: absolute;
  top: 124px;
  left: 275px;
  fill: var(--clr-primary);
}

.answer__input {
  background-color: var(--clr-neutral);
  font-family: "Nunito", sans-serif;
  margin-bottom: 2em;
  margin-top: 0.5em;
  padding: 1em;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.answer__input::placeholder {
  font-family: "Nunito", sans-serif;
}

.answer__button {
  margin-left: 12.7em;
}

select {
  display: flex;
  align-items: center;
}