*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover,
*:focus {
  outline: none;
}

:root {
  --clr-primary: #0094ff;
  --clr-neutral: #f2f2f2;
  --clr-light: #ffffff;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}

body {
  display: grid;
  grid-template-columns: 30vw 20vw 23vw;
  min-height: 45vh;
}


.questn-ans {
  padding: 2em 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
}


.delete-account {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}


.chng-password {
  padding-left: 5em;
  padding-top: 2em;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.delete-account iframe {
    width: 19rem;
    height: 10rem;
}

.chng-password iframe {
    width: 19rem;
    height: 40rem;
}

.blacklist iframe {
    width: 22rem;
    height: 28rem
}

.questn-ans iframe {
    height: 21.25rem;
    width: 20rem;
}
