*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover,
*:focus,
*:visited {
  outline: none;
}

:root {
  --input-color: #e5e5e5;
  --clr-primary: #0094ff;
  --clr-neutral: #f2f2f2;
  --clr-light: #ffffff;
  --clr-danger: #DF3232;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 98vw;
  align-items: stretch;
}

h1 {
  color: #000000;
  font-weight: var(--fw-semi-bold);
  font-family: "Nunito", sans-serif;
}

p {
  color: #000000;
  font-weight: var(--fw-regular);
  font-family: "Nunito", sans-serif;
}

label {
  color: #000000;
  font-weight: var(--fw-regular);
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

.user {
  color: #000000;
  font-weight: var(--fw-regular);
  font-family: "Nunito", sans-serif;
}


.blacklist__header {
  display: flex;
  justify-content: space-between;
  clear: both;
}

.blacklist__table {
  background-color: var(--clr-neutral);
  margin-top: 2em;
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

select {
  display: flex;
  align-items: center;
    appearance: none;
}


.questn-ans__question {
  margin: 1em 0;
}

.question__select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1em;
  width: 100%;
  border: none;
  background-color: var(--input-color);
  font-family: "Nunito", sans-serif;
  margin-top: 0.5em;
  border-radius: 5px;
}

.arrow {
  fill: var(--clr-primary);
  float: right;
  margin-right: 20px;
}

.answer__input {
  background-color: var(--input-color);
  font-family: "Nunito", sans-serif;
  margin-bottom: 2em;
  margin-top: 0.5em;
  padding: 1em;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.answer__input::placeholder {
  font-family: "Nunito", sans-serif;
}

.answer__button {
  float:right;
}

#deleteaccount {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-danger {
    margin-top: 1em;
    float: right;
    background-color: #DF3232;
    color: #ffffff;
}

.btn-danger:hover {
    background-color: #FFFFFF;
    color: #DF3232;
}

.chng-password__old,
.chng-password__new,
.chng-password__confirm {
  margin: 0.8em 0;
}
.divider {
    clear: both;
}

.old-password,
.new-password,
.confirm-password {
  background-color: var(--input-color);
  padding: 1em;
  margin-top: 0.5em;
  border: none;
  width: 100%;
  border-radius: 5px;
}

.password__button {
  margin-top: 1em;
  float: right;
}
section {
    clear: both;
}
.vertical-border {
    background-color: var(--clr-primary);
    width: 2px;
    flex-shrink: 0;
}
.horiz-border {
    background-color: var(--clr-primary);
    width: 132.5%;
    height: 2px;
    margin: 4rem 0 2rem;
    justify-self: center;
    flex-shrink: 0;
    clear: both;
}
.questn-ans {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.blacklist {
    width: 25%;
    max-height: 80vh;
    margin-top: 2rem;
}
.chng-password {
    width: 30%;
    margin-top: 1.9rem;
}
.select-icon {
  pointer-events: none;
  position: relative;
  bottom: 2.2em;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 96%;
  margin: 0 auto;
  padding: 1rem 0;
}

.user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral);
}

.horiz-nav-border {
    border-bottom: 2px solid var(--clr-primary);
}

#secret-question {
    margin-top: 2rem;
}

.blacklist__table tbody {
  padding: 0 1em 1em;
  display:block;
  max-height: 55vh;
  overflow-y: auto;
}
.blacklist__table thead {
  padding: 1em 1em 0;
}

#blacklist-input {
    width: 22vw;
    margin: 1em;
    background-color: var(--input-color);
  font-family: "Nunito", sans-serif;
  padding: 1em;
  border: none;
  border-radius: 5px;
}

.btn-danger {
    color: var(--clr-neutral);
    background-color: var(--clr-danger);
}

.btn-danger:hover {
    background-color: var(--clr-neutral);
    color: var(--clr-danger);
}

@media only screen and (max-width: 900px) {

}