*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover,
*:focus {
  outline: none;
}

:root {
  --clr-primary: #0094ff;
  --clr-neutral: #f2f2f2;
  --clr-light: #ffffff;
  --clr-danger-light: #ffb4b4;
  --clr-danger: #bc6262;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}

* {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 1.5rem;
  color: var(--clr-primary);
  font-weight: var(--fw-semi-bold);
}

h6 {
  font-weight: var(--fw-light);
  color: var(--clr-danger);
  margin-top: 1.5em;
}

.container {
  max-width: 96%;
  margin: 0 auto;
  padding: 1.5em 0 0 0;
}

.title {
  margin-bottom: 1.1em;
}

.divider {
  content: "";
  border-bottom: 2px solid var(--clr-primary);
  margin-bottom: 1em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 0.8em 1em 1.5em 1em;
}

input {
  border-radius: 5px;
  border: none;
  min-width: 32vw;
  padding: 1em;
  background-color: var(--clr-neutral);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Nunito", sans-serif;
}

label {
  margin-bottom: 0.5em;
}

.btn {
  margin: 1em 1em 1em 0;
}

.btn-secondary {
  margin-left: 1em;
}

.invalid {
  color: var(--clr-danger);
  background-color: var(--clr-danger-light);
}

.separator {
  clear: both;
}

@media screen and (max-width: 992px) {
    form {
        transform: scale(2);
    }

    h1 {
        font-size: 3rem;
    }

    .nav.container {
        padding-top: 3em;
        padding-left: 1em;
    }
}